@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="~/Style/Style.css" rel="stylesheet">
</head>
<body>
    <header>
        <b>Backend3</b> <a href="~/Home/Index">Home Mockups</a>
    </header>
    <main>
        <h2>Quiz</h2>
        <form>
            <div>
                <input name="input1" class="InputHide" value="@ViewBag.input1" />
                <input name="operation" class="InputHide" value="@ViewBag.operation" />
                <input name="input2"  class="InputHide" value="@ViewBag.input2" />
            </div>

            <b>@ViewBag.input1 @ViewBag.operation @ViewBag.input2 =</b>


            <input name="answer" />
            <br />
            <div>
                <button formmethod="post" formaction="~/Home/Next" type="submit">
                    Next
                </button>
                <button formmethod="post" formaction="~/Home/Result1" type="submit">
                    Finish
                </button>
            </div>
        </form>
    </main>
    <hr>
    <footer>© @DateTime.Now.Year - Backend3</footer>
</body>
</html>