@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Result</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="~/Style/Style.css" rel="stylesheet">
</head>
<body>
    <header>
        <b>Backend3</b> <a href="~/Home/Index">Home Mockups</a>
    </header>
    <main>
        <h2>Quiz Result</h2>
        <h3>Right answers @ViewBag.right of @ViewBag.allquestion</h3>

        @for(int i = 0; i < ViewBag.results.Count; i++)
        {
            <h4> @(i+1). @ViewBag.results[i] </h4>
        }
    </main>
    <hr>
    <footer>© @DateTime.Now.Year - Backend3</footer>
</body>
</html>